@font-face {
  font-family: "IRANSans";
  src: url("./IRANSans/eot/IRANSansWeb(FaNum).eot");
  /* IE9 Compat Modes */
  src: url("./IRANSans/eot/IRANSansWeb(FaNum).eot?#iefix")
      format("embedded-opentype"),
    /* IE6-IE8 */ url("./IRANSans/woff2/IRANSansWeb(FaNum).woff2")
      format("woff2"),
    /* Super Modern Browsers */ url("./IRANSans/woff/IRANSansWeb(FaNum).woff")
      format("woff"),
    /* Pretty Modern Browsers */ url("./IRANSans/ttf/IRANSansWeb(FaNum).ttf")
      format("truetype");
  /* Safari, Android, iOS */
}
