.button {
  width: 130px;
  height: 35px;
  color: white;
  border-radius: 15px;
  font-weight: 700;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
