.header-box {
  width: 100%;
  .header-box-title {
    margin: 16px 21px 10px 21px;
    font-family: "IRANSansXFaNum";
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
  }
  .devider {
    border-top: 1px solid #bbbbbb;
    margin: 0 21px 15px 21px;
  }
}
