@import "./app";
@import "./button";
@import "./headerBox";
@import "./slider";
@import "./textInput";
@import "mapbox-gl/dist/mapbox-gl.css";
@import "rc-slider/assets/index.css";
@import "../fonts/IRANSans/style.scss";

body {
  direction: rtl;
  font-family: "IRANSans";
}

// scroll bar changes style
::-webkit-scrollbar {
  width: 5px;
  height: 63px;
  border-radius: 10px;
}
::-webkit-scrollbar-track {
  background: #ffffff;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background: #d5dae2;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
